SECRET_KEY=change-this-to-a-secure-random-string-in-production
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password
USER_USERNAME=user
USER_PASSWORD=change-this-user-password
SESSION_INACTIVITY_TIMEOUT=15
FLASK_ENV=development
